.app {
  display: flex !important;
  flex-direction: column;
}

.results {
  grid-column-start: 2;
  grid-row-start: 1;
}

.Ability {
  color: #859900 !important;
}

.Proficiency {
  color: #b58900 !important;
}

.Boost {
  color: #268bd2 !important;
}

.Difficulty {
  color: #6c71c4 !important;
}

.Challenge {
  color: #dc322f !important;
}

.Setback {
  color: #93a1a1 !important;
}

@media only screen and (max-width: 780px) {
  h2 {
    font-size: 1em;
  }
  button {
    height: 2em;
    width: 2.5em;
    text-align: center;
  }
  .rollButton {
    text-align: left;
    width: 31vw;
  }
}
