.test {
  padding: 600px;
  color: #859900;
}

.Ability {
  color: #859900 !important;
}

.Proficiency {
  color: #b58900 !important;
}

.Boost {
  color: #268bd2 !important;
}

.Difficulty {
  color: #6c71c4 !important;
}

.Challenge {
  color: #dc322f !important;
}

.Setback {
  color: #93a1a1 !important;
}
